
body {
    font-family: "Nunito", serif;
}

.controls-container {
    
    position: absolute;
    bottom: -10px;
    align-self: center;
    justify-self: center;
    transform: translateX(-50%);
    left: 50%;
}

.time-speed-container {
    color: #a7a9ad;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    margin-bottom: 20px;
    user-select: none; /* Prevents text selection */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
}



.multiplier-container {
    user-select: none; /* Prevents text selection */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 40px;

}

.time-button {
    flex-shrink: 0;
    font-weight: bold;
    font-size: 1.4rem;
    align-items: center;
    justify-content: center;
    background-color: #4c566a;
    color: white;
    border: 2px solid #3b4252;
    margin: 10px;
    width: 40px;
    height: 40px;
    border-radius: 40px;
}

.time-button:hover {
    cursor: pointer;
}

.time-display {
    width: 180px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: elipsis;
}

.following-body-container.visible {
    opacity: 1;
    pointer-events: auto;
}

.following-body-container.visible:hover {
    opacity: 1;
    cursor: pointer;
    animation: pulsehover 2s infinite;
}

.following-body-container {
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    color: #a7a9ad;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    left: 50%;
    top: -20px;
    transform: translateX(-50%);
    background-color: #2e3440;
    height: 30px;
    align-self: center;
    justify-self: center;
    animation: pulse 2s infinite;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.live-container {
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    color: #93b54a;
    position: absolute;
    top: 95%;
    left: 2%;
    background-color: #2e3440;
    height: 40px;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.zoom-container {
    border-radius: 5px;
    display: flex;
    right: 2%;
    bottom: 9%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    color: #93b54a;
    position: absolute;
    background-color: #2e3440;
    width: 30px;
    opacity: 1;
    transition: opacity 0.5s ease;
    border: 1px solid;
    user-select: none;
}

.zoom-text {
    padding: 10px;
    margin: 0px;
}

.zoom-text:hover {
    background-color: #414a5c;
    cursor: pointer;
}

.notscale-container {
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    color: #93b54a;
    padding-right: 10px;
    padding-left: 10px;
    position: absolute;
    top: 95%;
    right: 2%;
    background-color: #2e3440;
    height: 40px;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.notscale-container:hover {
    cursor: pointer;
    background-color: #31402e;
}

.live-container:hover {
    background-color: #93b54a33;
    color: #a7a9ad;
    cursor: pointer;
}

.live-container h4 {
    font-size: 20px;
}

.live-circle {
    color: #4c566a;
    margin-right: 8px;
}

.live-circle.live {
    color: #93b54a;
    margin-right: 8px;
}

.live-text.live {
    color: #93b54a;
    padding: 10px;
}

.live-text {
    color: #4c566a;
    padding: 10px;
}

.follow-body-circle {
    color: #93b54a;
    margin-right: 8px;
}

.follow-body-text {
   padding: 10px;
}

@keyframes pulse {
    0% {
        background-color: #2e3440;
    }
    50% {
        background-color: #414a5c;
    }
    100% {
        background-color: #2e3440;
    }
}

@keyframes pulsehover {
    0% {
        background-color: #402e2e;
    }
    50% {
        background-color: #5c4141;
    }
    100% {
        background-color: #402e2e;
    }

}


@media (max-width: 700px) {
    .controls-container {
        bottom: 10vh;
        width: 100%;
    }

    .current-date {
        font-size: 80%;
    }
    
    .time-display {
        padding: 0px;
        margin: 0;
    }

    .live-container {
        z-index: 9;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-content: center;
        color: #a7a9ad;
        position: absolute;
        top: 85%;
        left: 2%;
        background-color: #2e3440;
        height: 40px;
        opacity: 1;
        transition: opacity 0.5s ease;
    }

    .notscale-container {
        z-index: 9;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-content: center;
        color: #93b54a80;
        background-color: #ffffff00;
        position: absolute;
        top: 85%;
        right: 2%;
        height: 40px;
        opacity: 1;
        transition: opacity 0.5s ease;
    }

    .zoom-container {
        border-radius: 5px;
        display: flex;
        right: 2%;
        bottom: 45%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        justify-content: center;
        color: #93b54a;
        position: absolute;
        background-color: #2e3440;
        width: 30px;
        opacity: 1;
        transition: opacity 0.5s ease;
        border: 1px solid;
        user-select: none;
    }
    

    

}