
.planetaryinfo-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 20px;
    left: -50vw;
    width: 25%;
    top: 55vh;
    transform: translateY(-50%);
    height: 70vh;
    background-color: #2e3440;
    border-radius: 30px;
    border: 2px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
    transition: left 0.5s ease-in-out;
    max-height: 90%;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.planetaryinfo-container::-webkit-scrollbar {
    display: none;
  }

.planetaryinfo-container.visible {
    left: 0px;
}

.title-container {
    margin: 10px;
    margin-left: 20px;
    padding: 0px;
    margin-bottom: 0px;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title i {
    font-size: 30px;
    margin-right: 10px;
}

.title i:hover {
    cursor: pointer;
}

.title-container p {
    color: #8d9fc4;
    margin: 0px;
}

.title {
    color: #8d9fc4;
    margin: 0px;
    padding: 0px;
}

.content {
    margin: 10px 20px;
    margin-top: 0px;
}

.content p {
    width: 100%;
    flex-grow: 1;
    color: #8d9fc4;
    margin: 0px;
    margin-bottom: 10px;
}

.droplist-container {
    color: #8d9fc4;
}

.droplist-container h4 {
    margin-right: 20px;
    margin: 0px;
}

.droplist-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to left, #2e3440, #414857);
}

.droplist-title:hover {
    cursor: pointer;
    color: #93b54a;
}

.dropdown-button {
    margin-right: 20px;
    transition: transform 0.3s ease;
}
.dropdown-button:hover {
    margin-right: 20px;
    color: #93b54a;
    cursor: pointer;
    transform: scale(1.05);
}

.droplist-title h4 {
    padding-left: 10px;
}

.hideInfo {
    user-select: none;
}

.mainCanvas {
    bottom: 0%;
    transition: bottom 0.5s ease-in-out;
}

.mainCanvas.move-up {
    bottom: 15%;
}

.hideInfo:active {
    color: #93b54a;
    transform: scale(120%);
}


.dropdown-button.fa-chevron-down {
    transform: rotate(0deg); /* Downward arrow */
}

.dropdown-button.fa-chevron-right {
    transform: rotate(0deg); /* Rightward arrow */
}


@media (max-width: 1500px) {
    .planetaryinfo-container {
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 10;
        margin: 0px;
        left: 0;
        width: 100%;
        padding: 0px;
        border-radius: 0px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        transform: translateY(100%);
        background-color: #2e3440;
        border: 2px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
        transition: transform 0.5s ease-in-out;
        max-height: 50%;
        overflow: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .planetaryinfo-container.visible {
        transform: translateY(0%);
    }

    .mobile-margin {
        margin-bottom: 50px;
    }


}