
.table {
    width: 100%;
    border-collapse: collapse;
}

.table-row {
    background: linear-gradient(to left, #2e3440, #414857);
}

.table td {
    padding: 1px;
    border-bottom: 1px solid #2e3440; /* Add a subtle border between rows */
}
.table td:nth-child(2) {
    text-align: right;
}