
.tools-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 20px;
    right: -30vw;
    width: 25%;
    top: 55vh;
    transform: translateY(-50%);
    height: 70vh;
    background-color: #2e3440;
    border-radius: 30px;
    border: 2px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
    transition: right 0.5s ease-in-out;
    max-height: 90%;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.selectedBody-container {
    display: flex;
    justify-content: space-between;
    color: #8d9fc4;
    padding: 0;
    margin: 0;
}

.selected {
    margin: 0;
    padding: 0;
    flex-grow: 0;
    align-self: center;
}

.tools-container::-webkit-scrollbar {
    display: none;
}

.tools-container.visible {
    right: 0;
}

.disclaimer {
    font-size: 90%;
}

.title-value {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.setting-title {
    color: #8d9fc4;
}

.value-container {
    height: 30px;
    width: 100px;
    display: flex;
    align-items: center; 
    justify-content: flex-end;
    background-color: #292e38;
    padding-right: 10px;
    border-radius: 7px;
}

.value {
    margin: 0;
    padding: 0;
    color: #8d9fc4;
}

.setting-input-box::-webkit-outer-spin-button,
.setting-input-box::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.setting-input-box {
    font-family: "Nunito", serif;
    all: unset;
    display: flex;
    text-align: right;
    -moz-appearance: textfield;
    width: 100px;
    background-color: #292e38;
    color: #8d9fc4;
    border: none;
}

.slider {
    margin-top: -10px;
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    background: #292e38;
    border-radius: 10px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #93b54a;
    border-radius: 50%;
    cursor: pointer;
}

.reset-text {
    color: #8d9fc4;
    padding: 10px;
    background-color: #292e38;
    border-radius: 10px;
    border: 2px solid #8d9fc4;
    transition: transform 0.2s ease-in-out;
}

.reset-text:active {
    color: #93b54a;
    border: 2px solid #93b54a;
    transform: scale(110%);
}


@media (max-width: 1500px) {
    
    .tools-container {
        display: flex;
        flex-direction: column;
        position: absolute;
        margin: 0px;
        z-index: 19;
        right: 0vw;
        width: 100%;
        top: 55vh;
        transform: translateY(100%);
        height: 70vh;
        background-color: #2e3440;
        border-radius: 0px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border: 2px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
        transition: transform 0.5s ease-in-out;
        max-height: 90%;
        overflow: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .tools-container.visible {
        transform: translateY(0%);
    }

    .mobile-margin {
        margin-bottom: 50px;
    }

}
